{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Theta Tau Nu Class Stop Sound Project">
    <meta name="author" content="TT Nu Class">
    <title> Stop Sound </title> <!-- Bootstrap core CSS --> <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">StopSound</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.path == '/' %} active {% endif %}">
              <a href={% url "home" %}> Home </a>
            </li>
            <li class="{% if request.path == "/contacts/view_all/" %} active {% endif %}">
              <a href="{% url "view_contacts" %}">Contact</a>
            </li>
            <li class="{% if request.path == '/contacts/view_settings/' %} active {% endif %}">
              <a href="{% url "view_settings" %}"> Settings </a>
            <li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            {% if request.user.is_authenticated %}
            <li>
              <p class="navbar-text"> {{ request.user.get_full_name }} </p> 
            </li>
            <li>
            <a href="{% url "django.contrib.auth.views.logout" %}?next={% url 'home' %}"> Logout </a> 
            </li>
            {% else %}
            <li class="{% if request.path == '/auth/signup/' %} active {% endif %}"> 
              <a href="{% url "signup" %}"> Sign Up </a>
            </li>
            <li class="{% if request.path == '/auth/login/' %} active {% endif %}">
              <a href="{% url "django.contrib.auth.views.login" %}"> Login </a>
            <li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      {% block content %}
      {% endblock %}

    </div>

    <img src="{% static "img/spinner.gif" %}" style="display: none">

    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"> </script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"> </script>
    <script src="{% static "js/contacts.js" %}"> </script>
    <script src="{% static "bower_components/jquery-serialize-object/dist/jquery.serialize-object.min.js" %}"> </script>
    <script src="{% static "bower_components/jquery-cookie/jquery.cookie.js" %}"> </script>
  </body>
</html>
